/* Add your own CSS code below */
.countries--first {
  display: flex;
  flex-direction: row-reverse;
}
.country {
  font-size: 14px;
  padding: 15px 11px;
  font-weight: 500;
}
.countries--third {
  display: flex;
  flex-direction: column-reverse;
}
